%h2 Registrieren
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class=>" form-horizontal"}) do |f|
  = devise_error_messages!
  .control-group
    = f.label "Vorname", class: "control-label"
    .controls
      = f.text_field :firstname
  .control-group
    = f.label "Nachname", class: "control-label"
    .controls
      = f.text_field :lastname
  .control-group
    = f.label "Email", class: "control-label"
    .controls
      = f.email_field :email
  .control-group
    = f.label "Passwort", class: "control-label"
    .controls
      = f.password_field :password
  .control-group
    = f.label "Passwort wiederholen", class: "control-label"
    .controls
      = f.password_field :password_confirmation
  .form-actions
    = f.submit "Registrieren", class: "btn-primary"
= render "devise/shared/links"
