%h2 Passwort neu wählen
= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class =>  "form-horizontal" }) do |f|
  = devise_error_messages!
  = f.hidden_field :reset_password_token
  .control-group
    = f.label :password, "Neues Passwort", class: "control-label"
    .controls
      = f.password_field :password
  .control-group
    = f.label :password_confirmation, "Password wiederholen", class: "control-label"
    .controls
      = f.password_field :password_confirmation
  .form-actions
    = f.submit "Passwort ändern"
= render "devise/shared/links"
