%h1.title_left="Umfragen"
.new_poll
  %a.icon_button{href: new_poll_path}
    = image_tag('star.png')
    %span="Neue Umfrage"

.clear

- @polls.each do |poll_creation| 
  .poll_preview
    %h4=poll_creation.title

    .poll_preview_expdate
      = poll_creation.exp_date
    .poll_preview_numbers
      = "#{poll_creation.answers.count} Stimmen"
    .poll_preview_chart_type
      = poll_creation.chart_type
    .poll_preview_tinyurl
      =  link_to poll_creation.shorturl, "#{poll_creation.shorturl}"

    %ul.poll_index_actions
      %li
        %a.icon_button{href: "/polls/#{poll_creation.title}"}
          =image_tag('pie_chart.png')
          %span="ansehen"
      %li
        %a.icon_button{href: "/poll_voting/show?id=#{poll_creation.title}"}
          =image_tag('pie_chart.png')
          %span="mobile Ansicht"
      %li
        %a.icon_button{href: edit_poll_path(poll_creation)}
          =image_tag('edit.png')
          %span="bearbeiten"
      %li
        %a.icon_button{:href => "/polls/#{poll_creation.title}", :"data-confirm" => "Sicher?", :"data-method" => :delete}
          =image_tag('bin.png')
          %span="löschen"

    .clear



