.result_headings
  %h1
    = @poll.title
   
  %p.question="\"#{@poll.question}\""
.poll_menu
  %ul
    %li
      %a.icon_button{href: "/poll_voting/show?id=#{@poll.id}"}
        =image_tag('pie_chart.png')
        %span="mobile Ansicht"
        .clear
    %li
      %a.icon_button{href: edit_poll_path(@poll)}
        =image_tag('edit.png')
        %span="bearbeiten"
    %li
      %a.icon_button{:href => "/polls/#{@poll.id}", :"data-confirm" => "Sicher?", :"data-method" => :delete}
        =image_tag('bin.png')
        %span="löschen"
    .clear

.clear

- if @poll.start_date > Date.today
  %h3="Noch keine Daten vorhanden" 
  %p="Der Zeitraum zum Abstimmen für diese Umfrage hat noch nicht begonnen (Start: #{@poll.start_date})"

- else 
  .graphic_result
    %img{ src: @chart_url } 
  
  .table_result
    %p
      Link zur Umfrage:
      =link_to @poll.shorturl, @poll.shorturl
    
    %p.bold
      ="#{@unique_answers} Antworten mit #{@poll.answers.count} Angaben"
    %table
      - @resultdata.each do |a,nr|
        %tr
          %td.answer_label= a
          %td.answer_count= nr
  .clear

.comments
  %h4= "Kommentare"
  %table.table
    %tr
      %th="Datum"
      %th="Angaben"
      %th="Kommentar"
    - @poll.comments.each do |comment|
      %tr
        %td= comment.created_at.strftime("%d %b. %Y %H:%M")
        -antwort=""
        -comment.answers.each do |answer|
          - antwort += "#{answer.value} "
        %td= antwort    
        %td= comment.text