%h1= @poll.title 
%h2= @poll.question


- if @poll.exp_date <= Date.today and @poll.start_date <= Date.today
  %h3= "Diese Umfrage liegt ausserhalb des Abstimmungszeitraum (Start: #{@poll.start_date}, Ende: #{@poll.exp_date})"
- if session[@poll.id]
  %h3="Für diese Umfrage hast du schon abgestimmt."

%img{ src: @chart_url, id: 'google_img' } 

%table.table-stripe{:"data-role" => "table", :id => "poll_result_table", :"data-mode"=>"reflow"}
  %thead
    %tr
      %th="Antwort"
      %th="Stimmen"
  %tbody
    - @poll.answer_possibilities.each do |answer_possibility|
      %tr
        %td= answer_possibility.value 
        %td= answer_possibility.answers.count 

  