!!!
%html
  %head
    %title="Chickenmcnuggets"

    = stylesheet_link_tag 'application', media: "screen, projection" 
    = javascript_include_tag "application" 

    = csrf_meta_tags

  %body

  #wrapper
    #header
      .logo
        = image_tag("Logo.png")
      .menu
        %ul
          - if creator_signed_in?
            %li
              =link_to "HowTo", home_faq_path
          -else
            %li
              =link_to "Home", home_index_path
          %li
            = link_to "Umfragen", polls_path 
          - if creator_signed_in?
            %li
              = link_to "Mein Account", edit_creator_registration_path
            %li
              = link_to "Logout", destroy_creator_session_path, :method => :delete 
          - else
            %li
              = link_to "Login", new_creator_session_path 
            %li
              = link_to "Registrieren", new_registration_path(:creator)
        
     
      .clear

    #content
      .clear
      -if notice
        #notice
          %p=notice
      -if alert
        #alert
          %p=alert

      = yield 
  
    #footer
      %ul
        %li
          = link_to "Admin", "/admin"
        %li
          = link_to "Impressum", home_impressum_path